<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bliss_POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bliss_POS.Properties.Settings>
            <setting name="POSConnection" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;DATABASE=RestPOS;Integrated Security=True;Connect Timeout=30;</value>
            </setting>
            <setting name="Prepay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numCols" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="numRows" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="gridSpacing" serializeAs="String">
                <value>85</value>
            </setting>
        </Bliss_POS.Properties.Settings>
    </applicationSettings>
</configuration>